


/* ------------------------------------------------RESET------------------------------------------------ */
*{
    margin: 0;
    padding: 0%;
    font-family:'Montserrat', sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}



/* ----------------------------------------HEADER---------------------------------------- */



header{
    background-color:black;
    position: sticky;
    top: 0;
    z-index: 1;
} 

header img{
    width: 150px;
    padding-top: 0%;
}



header nav ul{
    display: flex;
    
}

header nav ul li{
    margin: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

.logo{
    display: flex;
    transition: all 0.5s;
}

.logo:hover{
    transform: scale(1.1);
} 

.logo{
    position: fixed;
    top: 8px;
    left: 10px;
}


.input{
    padding: 10px;
    padding-right: 35px;
    border-radius: 50px;
    border: 2;
    border-color: black;
    outline: none;
}




/* ----------------------------------------MAIN---------------------------------------- */
.hero{
    background-image:url(../images/fondo.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows:200px 200px 200px;
    grid-template-columns: repeat(2,1fr);
}

.hero div{
    border: 1px solid white;
}

.div1{
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: x-large;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.473);
    transition: all 2s;
}

.div1 :hover{
    transform: scale(1.009);
}
/* --------------------PRODUCTOS-------------------- */
.productos{
    display: grid;
    grid-auto-rows: 500px;
    grid-template-columns:repeat(6,1fr) ;
}



.productos div{
    width: 250px;
    height: 390px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    margin: 20px;
    transition: all .5s ;
    border: 0.9px solid rgba(128, 128, 128, 0.74);
    border-radius: 5px;
}

.productos div img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgb(150, 149, 149) );    
}

.titulo-productos{
    display: flex;
    justify-content: center;
    font-family:'Montserrat', sans-serif;
    padding: 10px 0px 0px 0;
    border-top: 1px solid white;
}

.main-productos{
    display: flex;
    justify-content: space-evenly;
    background-color:black;
}

.titulo-productos h2{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.productos div img{

    width: 100%;
    height: 270px;
}

.productos div h3{
    margin: 15px;
}

.productos div a{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;

}
/* --------------------OFERTAS-------------------- */
.titulo-ofertas{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px 0px 10px 0;
}

.titulo-ofertas h2{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.ofertas{
    display: grid;
    grid-auto-rows: 500px;
    grid-template-columns:repeat(6,1fr) ;
}


.ofertas div{
    width: 250px;
    height: 390px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    margin: 20px;
    transition: all .5s ;
    border: 0.9px solid rgba(128, 128, 128, 0.438);
    border-radius: 5px;
}

.ofertas div img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgb(150, 149, 149) );
}

.ofertas h2{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px 0px 20px 0;
}
.ofertas div img{

    width: 100%;
    height: 270px;
}

.ofertas div h3{
    margin: 15px;
}

.ofertas div a{
    background-color:black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
/* ----------------------------------------PRODUCTOS(PAGE)---------------------------------------- */

.titulo-star{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px 0px 10px 0;
}
.titulo-star h2{
    font-size: 200px;
}

.titulo-star h3{
    margin:10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* ----------------------------------------REGISTRATE---------------------------------------- */

.titulo-registro{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    
}

.registro{
    width: 30%;
    border: 2px solid white;
    padding: 30px;
    border-radius: 5%;
}

.caja-registro{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 800px;
}

/* ----------------------------------------FOOTER---------------------------------------- */

.fixed{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    background-color:rgb(224, 223, 220);
    height: 200px;
    margin-top: auto;
}

.contactenos{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    font-size: large;
    font-weight: bold;
}

.contactenos ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

.menu-footer{
    display: flex;
    flex-direction: column;
}

.menu-footer li{
    padding-bottom: 10px;
}


.botones-foot{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    padding-bottom:10px;
}

.contactenos ul li{
    margin: 5px;
    padding: 0;
    transition: all .5s;
}

.contactenos ul li:hover{
    transform: scale(1.1);
}

.contactenos p{
    border-bottom: 2px solid black;
}


/* ----------------------------------------MEDIA QUERIS---------------------------------------- */
@media screen and (max-width:1720px ){
    
    .productos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .ofertas{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:1160px ){
    .titulo-star h2{
        font-size: 100px;
    }
    .titulo-star h3{
        font-size: small;
    }
}

@media screen and (max-width:860px ){
    .div1{
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 0%;
        background-color: transparent;
        margin-right: 80px;

    }
    .hero div{
        border:none;
    }


    .contactenos ul li{
        margin: 0px;
        padding: 0;
        transition:none;
    }
    
    .contactenos ul li:hover{
        transform:none;
    }
    
    .contactenos p{
        border-bottom:0px;
    }
    .titulo-star h2{
        font-size: 70px;
    }
    .main-productos{
        display: none;
    }

}

@media screen and (max-width:550px ){

    .hero{
        grid-template-rows:200px;
        grid-template-columns: repeat(1,1fr);
    }
    .menu-footer{
        display: none;
    }
    .redes{
        display: none;
    }
    .botones-foot{
        font-size: x-small;
    }

    .contactenos ul{
        font-size: x-small;
    }
    .titulo-star h2{
        font-size: 30px;
    }
    .titulo-star h3{
        font-size: x-small;
    }
}

































